li{
    list-style: none;
    padding: 10px;
    font-size: 14px;
}

a {
    cursor: pointer;
}

li a, li p{
    color: white;
}

p{
    font-size: 18px;
}

ul{
    background-color: var(--primary-color);
    width: fit-content;
    padding: 10px;
    height: 100vh;
}

.bottom{
    position: absolute;
    bottom: 5vh;
    font-size: 12px;
}