<ul>
    <li>
        <p>Air Monitor</p>
    </li>
    <li>
        <a routerLink="/dashboard">Dashboard</a>
    </li>
    <li>
        <a routerLink="/analytics">Analytics</a>
    </li>
    <li>
        <a routerLink="/maintainance">Maintainance</a>
    </li>
    <li>
        <a routerLink="/account">Account</a>
    </li>
    <li>
        <a routerLink="/settings">Settings</a>
    </li>
    <div class="bottom">
        <li>
            <a routerLink="/support">Support</a>
        </li>
        <li>
            <a routerLink="/logout">Log out</a>
        </li>
    </div>
</ul>
