<div class="grid-container">
    <div class="item1">
        <p>Master control</p>
        <button href="#" class="run-analysis">Run analysis</button>
    </div>
    <div  class="item2">
        <div id="item2-div1">
            <p>Temperature</p>
            <button href="#" class="restart-all">Restart all</button>
        </div>
        <div id="item2-div2">
            <mat-slide-toggle labelPosition="before"></mat-slide-toggle>
            <div id="assets-img">
                <div>
                    <img src="assets/eco.svg" alt="Eco">
                    <p>Eco</p>
                </div>
                <div>
                    <img src="assets/hot.svg" alt="Hot">
                    <p>Hot</p>
                </div>
                <div>
                    <img src="assets/cold.svg" alt="Cold">
                    <p>Cold</p>
                </div>
                <div>
                    <img src="assets/fan.svg" alt="Fan">
                    <p>Fan</p>
                </div>
            </div>
        </div>
        <div id="item2-div3">
            <ul>
                <li>
                    24 devices running
                </li>
                <li id="send-alert-li">
                    01 device malfuntioning
                    <button href="#" class="send-alert">Send alert</button>
                </li>
            </ul>
        </div>
    </div>

    <div  class="item3">
        <div id="item2-div1">
            <p>Air quality index</p>
            <button href="#" class="restart-all">Restart all</button>
        </div>
        <div id="item2-div2">
            <mat-slide-toggle labelPosition="before"></mat-slide-toggle>
            <div id="assets-img">
                <p>97* US AQI</p>
            </div>
        </div>
        <div id="item2-div3">
            <ul>
                <li>
                    12 devices running
                </li>
                <li id="send-alert-li">
                    01 device malfuntioning
                    <button href="#" class="send-alert">Send alert</button>
                </li>
            </ul>
        </div>
    </div>
</div>